<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web.extensions>
    <scripting>
      <webServices>
        <!--单位为字节-->
        <jsonSerialization maxJsonLength="10240000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="Config" value="\\Config.config"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=.;Initial Catalog=web;User ID=zhsa;Password=zh2345678" />
  </connectionStrings>


  <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
